
.box{border-style:solid;
			border-color:transparent;
			border-width:0 0 0 0;
	height:12vw;
	font-size:10vw;
	color:#00ff00
;
			}
.up{border-top-width:1px}
.down{border-bottom-width:1px} 
.left{border-left-width:1px}
.right{border-right-width:1px}
.ups{border-top-color:#00ff00
;}
.downs{border-bottom-color:#00ff00
;}
.lefts{border-left-color:#00ff00
;}
.rights{border-right-color:#00ff00
;}
.bordertop{margin-top:5vw}
.jumbotron{color:#00ff00
;
background-color: black;}
body{background-color: black; color:#00ff00;}
