

     H2 {
    color: black;
    font-size: 2em;
    text-align: center
  }
  @media (min-width: 992px) {
  h4 {
    text-align: middle;
    width: 60px;
    margin: 0px;
    border: 1px solid black;
    float: right;
    word-wrap: break-word;
    background-color: steelblue;
    color: white;
  }
  
  div {
    text-align: middle;
    width: 30%;
    height:7em;
    padding: 0px;
    border: 2px solid black;
    margin: 1%;
    word-wrap: break-word;
    box-sizing:border-box;
    color: white;
    float:left
  }
  }
  #para1{background-color: steelblue;}
  #para3 {
    ;
    background-color: maroon
  }
  
  #para2 {
    background-color: darkgoldenrod
  }
  
  
@media (max-width: 991px) and (min-width: 768px){  h4 {
    text-align: middle;
    width: 60px;
    margin: 0px;
    border: 1px solid black;
    float: right;
    word-wrap: break-word;
    background-color: steelblue;
    color: white;
  }
  
  div {
    height:5em;
    text-align: middle;
    width:47%;
    padding: 0px;
    border: 2px solid black;
    margin: 1%;
    word-wrap: break-word;
    
    color: white;
    float:left
  }
  .para3{width:97%}

  }
	
  @media (max-width: 767px) {
   h4 {
    text-align: middle;
    width: 60px;
    margin: 0px;
    border: 1px solid black;
    float: right;
    word-wrap: break-word;
    background-color: steelblue;
    color: white;
  }
  
  div {
    text-align: middle;
    width: 96%;
    padding: 0px;
    border: 2px solid black;
    margin: 1%;
    word-wrap: break-word;
     height:5em ;
    color: white;
    
  }
 }
