
.btn{width:200px;
height:200px;
margin:5px;
border-style:solid;
border-width:5px;
border-color:black;}
.topmargin{margin-top:5vh}
.topleft{border-top-left-radius:100%;}
.topright{border-top-right-radius:100%;}
.btmleft{border-bottom-left-radius:100%;}
.btmright{border-bottom-right-radius:100%;}
.circle{background-color:white;
				border-radius:100%;
				border-style:solid;
				border-color:black;
				border-width:3px;
				width:200px;
				height:200px;
				position:relative;
				bottom:310px;
				padding-top:10px;}
.btn-inner{width:40px;
					height:30px;
					border-width:1px;}
.red{background-color:#e71515 !important;}
.yellow{background-color:#eee515 !important;}
.green{background-color:#2bec19 !important;}
.blue{background-color:#17a7ff !important;}
body{background-image:url('https://pixabay.com/static/uploads/photo/2016/03/15/02/07/floor-1256763_960_720.jpg')}













/* to make it compatible with */
@media screen and (max-width: 480px)
{   .btn{width:35vw;
height:35vw;
margin:1vw;
border-style:solid;
border-width:1vw;
border-color:black;} 
.topmargin{margin-top:5vh}
.circle{background-color:white;
				border-radius:100%;
				border-style:solid;
				border-color:black;
				border-width:1vw;
				width:35vw;
				height:35vw;
				position:relative;
				bottom:54.23vw;
				padding-top:0px;}
.btn-inner{width:9vw;
					height:7vw;
					border-width:1px;
	padding:0 0 0 0;}
					
	h2{font-size:7vw;
		margin:0 0 0 0;
		padding-top:2vh;}

.red{background-color:#e71515 !important;}
.yellow{background-color:#eee515 !important;}
.green{background-color:#2bec19 !important;}
.blue{background-color:#17a7ff !important;}



}