/* put your css code here */

.container{padding-top:50px;}
.navbar.navbar-inverse.navbar-fixed-top div div a {color:steelblue;}
.navbar.navbar-inverse.navbar-fixed-top div div button span {color:steelblue;}
#homepage{	
			color:white;
			height:100vh;
			width:100vw;
			background-repeat:no-repeat;
			background-image:url("css/dddd.png");
			background-size:100%;
			text-align:center;
			padding:20vh 0;
			}
h1{font-size:4vw}
h4{font-size:1vw}


@media (max-width: 530px) {
.crop-img{
  max-height:250px;
  max-width:100%;
}
.large-img{max-width:85vw;
	
}
.modal-dialog{width:95vw}

}

@media (min-width:531px) and (max-width: 989px) {
.carousel-img{width:500px}	
.large-img{max-width:60vw;
}
.modal-dialog{width:75vw}	
	
	
}




@media (min-width: 990px) {
.crop-img{
  width:100%;	
  max-height:100%;
  
}
.large-img{max-width:40vw;


}
.modal-dialog{width:50vw}

}

#fd{text-align:center}
.modal_body{ overflow-y: auto;
}
