#icon{width:200px;}
.aligncenter{margin: 0px auto;}
body{  background-image: url("https://pixabay.com/static/uploads/photo/2015/12/01/15/43/black-1072366_960_720.jpg"); 
color:white;background-repeat: no-repeat; background-size:100vw 100vh;
 }	