

div>p {width:100vw;
height: 66.896vw;
margin:1% auto;
color:white;
font-size:3em;
text-align:center;
background-color:steelblue;
background-repeat: no-repeat;
}

h1{
font-size:5em;}

#chicken{background-image:url('1.jpg');
Background-size: 100%;}
#pork{background-image:url('2.jpg');
Background-size: 100%;}
#beef{background-image:url('3.jpg');
Background-size: 100%;}

.waste{height:40px;width:100%;}